/* ========== INITIALIZE ========== */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family:'Courier New', Courier, monospace;
  background-color: #1c2841;
  color: #e3e3e3;
  line-height: 1.5;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

/* ========== MAIN ========== */
.calculator-container {
  display: flex;
  flex-direction: column;
  background-color:#182135 ;
  padding: 2rem;
  gap:1rem;
  width: 25rem;
  justify-self: center;
  align-self: center;
  border-radius: 30px;
}

.calculator-container h1 {
  font-size: 1rem;
}

.calculator-display {
  background-color: #101622;
  height: 7rem;
  border-radius: 15px;
  display:flex;
  align-items: center;
  justify-content:flex-end;
}

.display-content {
  font-size: 3rem;
  margin: 1rem;
}

.calculator-buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 equal columns */
  gap: 0.5rem;
  background-color: #101622;
  padding: 1rem;
  border-radius: 15px;
}

button[data-operator],
button[data-symbol] {
  background-color: #006AF9;
}
button[data-number],
button[data-operator="decimal-point"],
button[data-operator="clear"] {
  background-color: #182135;
}

.calculator-buttons button{
  font-size: 1.5rem;
  color: #e3e3e3;
  border: none;
  border-radius: 7px;
  height: 4rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

button[data-operator="clear-all"] {
  grid-column: span 3;
  background-color: #ff4c4c;
}

button[data-operator="equals"] {
  background-color: #0095f9;
}

.calculator-buttons button:hover{
  background-color: #3c475e;
}

/* ========== FOOTER ========== */
.footer-container {
  text-align: center;
  padding: 1.5rem;
  font-size: 0.9rem;
  opacity: 0.7;
  background-color: inherit;
  margin-top: auto;
}

.footer-container a {
  color: inherit;
  text-decoration: underline;
}

.footer-container a:hover {
  color: #006AF9;
}